@import url("../../../node_modules/github-markdown-css/github-markdown-light.css");

body {
}
.app-wrapper {
  position: relative;
  overflow-x: scroll;
  // スクロールバーのスタイル
  ::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 10px;
}
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
  }
}
.main {
  margin-left: 10px;
}

#canvas {
  width: 800px;
  padding: 20px 0px;
  // height: 600px;
  background-color: rgb(241, 241, 241);
  position: relative;
  @media screen and (max-device-width: 800px) {
    margin-left: 0;
  }
}
.rotate {
  transform: rotate(-90deg);
}
.reverse {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

// message
.message-box {
  position: absolute;
  top: 200px;
  left: 10px;
  .upper {
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    transform: rotate(180deg);
    color: rgb(211, 158, 58);
  }
  .lower {
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    background-color: orange;
    color: whitesmoke;
    margin-top: 40px;
  }
}

.message-buttons {
  position: absolute;
  top: 340px;
  left: 10px;
  .click {
    background-color: rgb(224, 224, 80);
    border: 1px solid green;
    color: black;
    font-size: 14px;
    cursor: pointer;
  }
  .click:hover {
    color: rgb(122, 117, 117);
  }
}
