
@mixin menu-list-hover {
    // hover時に見えるようになる
    display: unset;
    background-color: black;
    div {
        border: lightgray 1px solid;
        color: whitesmoke;
        cursor: pointer;
        
        min-width: 50px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        white-space: nowrap;
    }
    div .small{
        word-wrap: unset;
        font-size: 12px;
    }
    div:hover {
        color: orange;
    }
}