$white: #ffffff !default;
$black: #000000 !default;
$grey: #7a7a7a !default;
$grey-light: #b5b5b5 !default;
$grey-lighter: #dbdbdb !default;
$grey-dark: #4a4a4a !default;

$primary: #445e00 !default;
$primary-invert: $white !default;

$danger: #b60000 !default;
$danger-invert: $white !default;
$warning: #f4c300 !default;
$warning-invert: $black !default;
$success: #006724 !default;
$success-invert: $white !default;
$info: #005c98 !default;
$info-invert: $white !default;

// $color-tomb: rgb(139, 47, 139);
$color-tomb: #b65c98;
$color-mana: #006724;

$colors: (
    "primary": ($primary, $primary-invert),
    "danger" : ($danger, $danger-invert),
    "warning" : ($warning, $warning-invert),
    "success" : ($success, $success-invert),
    "info" : ($info, $info-invert),
    "tomb" : ($color-tomb, $white),
    "mana" : ($color-mana, $white),
    "grey-dark" : ($grey-dark, $white),
) !default;
